body {
width: 100%;
height: 100%;
}
#main {
position: relative;
height: 200px;
width: 200px;
margin: auto;
}

#main .content {
position: absolute;
text-align: center;
width: 200px;
top: 50%;
transform: translate(0 -50%);
font-size: 24pt;
}
#main .topleft {
display: inline-block;
position: absolute;
width: 100px;
height: 100px;
top: 0px;
left: 0px;
background-color: red;
transition: transform 500ms ease-in-out;
}
#main .topright {
display: inline-block;
position: absolute;
width: 100px;
height: 100px;
top: 0px;
left: 100px;
background-color: yellow;
 transition: transform 500ms ease-in-out;
}
#main .bottomleft {
display: inline-block;
position: absolute;
width: 100px;
height: 100px;
left: 0px;
top: 100px;
background-color: blue;
transition: transform 500ms ease-in-out;
}
#main .bottomright {
display: inline-block;
position: absolute;
width: 100px;
height: 100px;
left: 100px;
top: 100px;
background-color: green;
transition: transform 500ms ease-in-out;
}
#main:hover .topleft {
transform: rotate(90deg) translateY(100px);
}
#main:hover .topright {
transform: rotate(-180deg) translateX(-100px);
}
#main:hover .bottomleft {
transform: rotate(90deg) translateY(100px);
}
#main:hover .bottomright {
transform: rotate(-180deg) translateX(-100px);
}